@charset UTF-8

.canon4444 {}

.title h1 {
      color: #000000;
      text-align: center;
}
.title h2 {
      color: #000000;
      text-align: center;
}

.contents {
      color: #000000;
      text-align: center;
}
.contents:hover {
      color: #AAAAAA;
}
.contents:active {
      color: #FFFFFF;
}
.contents:link {
      color: #808080;
}
.contents_table {
      color: red;
      text-align: center;
}
.contents_tbody {
      color: blue;
      text-align: center;
}
#subject {
      color: #000000;
}

.test {
      color: blue;
      text-align: center;
}
