@charset UTF-8

.title h1 {
      color: #000000;
      font-size: 36px;
      margin: 10px auto;
}

.title h4 {
      color: #000000;
      font-size: 24px;
      margin: 10px auto;
}

#page_title {
      font-size: 36px;
      margin: 10px auto;
}

#sub_title {
      font-size: 24px;
      margin: 10px auto;
}

.menu {
      color: #000000;
}
