@charset UTF-8

.canon4444 {}

.title {
      color: #000000;
}

.contents {
      color: #000000;
}
.contents:hover {
      color: #AAAAAA;
}
.contents:active {
      color: #FFFFFF;
}
.contents:link {
      color: #808080;
}

.foot {
      color: #000000;
}
